<div style="background-color:lavender;" class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="one_quarter first">
            <h6 class="heading"><b>Liên hệ</b></h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, TP.HCM
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> 0123456789</li>
                <li><i class="fa fa-envelope-o"></i> abcxyz@gmail.com</li>
            </ul>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading"><b>My Theatre Việt Nam</b></h6>
            <ul class="nospace linklist">
                <li><a href="#">Liên hệ quảng cáo My Theatre Việt Nam</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Điều khoản & chính sách</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="two_quarter">
            <h6 class="heading"><b>Gửi ý kiến trực tiếp</b></h6>
            <form method="post" action="#">
                <fieldset>
                    <input class="btmspace-15" type="text" value="" placeholder="Họ Tên">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <textarea class="btmspace-15" rows="4" type="text" value="" placeholder="Tin Nhắn"></textarea>
                    <button type="submit" value="submit">Gửi</button>
                </fieldset>
            </form>
        </div>
    </footer>
</div>
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>