<title>Skaxis</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="~/user/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="~/layout/styles/dangnhap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/phong.css" rel="stylesheet" />