<section>
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li id="film1">
                    <article>
                        <footer style="padding: 27%;"></footer>
                    </article>
                </li>
                <li id="film2">
                    <article>
                        <footer style="padding: 27%;"></footer>
                    </article>
                </li>
                <li id="film3">
                    <article>
                        <footer style="padding: 27%;"></footer>
                    </article>
                </li>
                <li id="film4">
                    <article>
                        <footer style="padding: 27%;"></footer>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</section>