<div class="wrapper">
    <div class="hoc clear">
        <!-- ################################################################################################ -->
        <figure id="introblocks">
            <ul class="nospace group">
                <li class="one_third first"><a href="#"><img src="~/user/img/demo/phim/p1.png" alt=""></a></li>
                <li class="one_third"><a href="#"><img src="~/user/img/demo/phim/p2.png" alt=""></a></li>
                <li class="one_third"><a href="#"><img src="~/user/img/demo/phim/p3.png" alt=""></a></li>
            </ul>
        </figure>
        <p class="center"><a class="btn" href="#">Xem nhiều hơn ....</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>