@model DoanRapphim.Areas.Admin.Models.BinhLuanModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BinhLuanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdNguoiDung" class="control-label"></label>
                <select asp-for="IdNguoiDung" class="form-control" asp-items="ViewBag.IdNguoiDung"></select>
                <span asp-validation-for="IdNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPhim" class="control-label"></label>
                <select asp-for="IdPhim" class="form-control" asp-items="ViewBag.IdPhim"></select>
                <span asp-validation-for="IdPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TinhTrang" /> @Html.DisplayNameFor(model => model.TinhTrang)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

