@model DoanRapphim.Areas.Admin.Models.NguoiDungModel
<div class="wrapper row3">
    <main class="hoc container clear" style="background-color: lightblue;">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <!-- <article class="group btmspace-80">
          <div class="two_third first"><img class="borderedbox inspace-10" src="images/demo/660x360.png" alt=""></div>
          <div class="one_third">
            <h6 class="heading">ĐẤU SĨ TỐI THƯỢNG</h6>
            <ul class="nospace meta">
              <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
            </ul>
            <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
            <p class="btmspace-30">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
            <footer class="nospace"><a class="btn" href="#">Full Story &raquo;</a></footer>
          </div>
        </article> -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <ul class="nospace group overview">
            <li class="one_quarter">
                <article>
                    <input type="text" style="visibility:hidden;">
                </article>
            </li>
            <li class="two_quarter">
                <div class="wrapper fadeInDown">
                    <div id="formContent">
                        <!-- Tabs Titles -->
                        <h2 class="active"> Đăng nhập </h2>
                        <h2 class="inactive underlineHover"><a href="../DangKy">Đăng kí </a></h2>

                        <!-- Icon -->
                        <div class="fadeIn first">
                            <img class="img-thumbnail" style="width:100px;height:auto;" src="~/user/img/demo/avatar1.png" id="icon" alt="User Icon" />
                        </div>

                        <!-- Login Form -->
                        <form class="form" method="post" asp-controller="Login" asp-action="Login">
                            <input type="text" asp-for="TaiKhoan" id="login" class="fadeIn second" name="taikhoan" placeholder="Nhập tài khoản" required>
                            <input type="password" asp-for="MatKhau" id="password" class="fadeIn third" name="matkhau" placeholder="Nhập mật khẩu" required> 
                            @{
                                if (TempData.Peek("Message") != null)
                                {
                                    <p style="color:red;">@TempData.Peek("Message")</p>
                                }
                            }
                            <input type="submit" class="fadeIn fourth" value="Đăng nhập">
                        </form>

                        <!-- Remind Passowrd -->
                        <div id="formFooter">
                            <a class="underlineHover" href="#">Quên mật khẩu?</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="one_quarter">

            </li>
        </ul>

        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>