<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_HeadPartial")
    @RenderSection("css", required: false)
</head>
<body>
    @await Html.PartialAsync("_SidebarPartial")
    <div class="page">
        <!-- navbar-->
        @await Html.PartialAsync("_HeaderPartial")
        <div class="container-fluid">
            @RenderBody()
        </div>
        @await Html.PartialAsync("_FooterPartial")
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_LibJSPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
