<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img src="~/admin/img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">Nathan Andrews</h2><span>Web Developer</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li><a href="#"> <i class="icon-home"></i>Home</a></li>
                <li><a href="#"> <i class="icon-form"></i>Forms</a></li>
                <li><a href="#"> <i class="fa fa-bar-chart"></i>Charts</a></li>
                <li>
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Table</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="NguoiDung">Người Dùng</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="RapChieuPhim">Rạp Chiếu</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="Phong">Phòng</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="LoaiGhe">Loại Ghế</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="LoaiPhim">Loại Phim</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="Phim">Phim</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="LichChieu">Lịch Chiếu</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="LoaiSuatChieu">Loại Suất Chiếu</a></li>
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="SuatChieu">Suất Chiếu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>