@{
    ViewData["Title"] = "DanhSach";
}

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Danh sách phim</header>
                    <ul class="nospace clear" id="ds">
                       
                        
                    </ul>
                </figure>
            </div>
        </div>
    </main>
</div>
@section Scripts {
    @{}
<script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../api/phimapi",
                data: {  }
            })
                .done(function (rs) {
                    ds = JSON.parse(rs);
                    console.log(ds);
                    ctphim = "";
                    $.each(ds, function (value, item) {
                        ctphim += '<li class="one_quarter"><a href="@{@Url.Action("Details", "DanhSachPhim")}/' + item.Id + '"><img src="/AnhPhim/'+ item.AnhPhim + '"/></a></li>';
                    })
                    $("#ds").html(ctphim);
                });
        });

</script>
}